<div class="container-fluid">
  <h2>About Whelmed</h2>
  <img src="assets/images/border2.png">
  <div class="content">
    <p>I always find that when I have a ton of tasks to do, I have a really hard time distinguishing between which ones are
    important and which ones would be okay falling by the wayside. This eventually leads to a build up of tasks to a point
    where I feel overwhelmed by all the work I have to do.  Whelmed helps combat this feeling.  When adding tasks to a list,
    the user is asked to think about the positive and negative consequences of not finishing a task on time.  This helps them
    think through which tasks may be more valuable to accomplish than others and gives them a starting place when they feel
    overwhelmed.</p>
    <h4>Resources</h4>
    <ul>
      <li><a href="https://www.calm.com" target="_blank">Calm App</a></li>
      <li><a href="https://suicidepreventionlifeline.org" target="_blank">Suicide Prevention Lifeline</a></li>
      <li><a href="https://adaa.org/understanding-anxiety/generalized-anxiety-disorder-gad/resources" target="_blank">Anxiety & Depression Association of America</a></li>
    </ul>
  </div>
</div>
