img{
  width:6%;
}
h4{
  background-color: #f8e16c;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
}
.col-md-3{
  background-color: #fb8f67;
  margin:10px;
}
.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left{
  margin-left: 50px;
}
.title{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.rounded-pill{
  background-color: #fb8f67;
  border: 0;
  margin-top: 20px;
  padding:10px;
  margin-right: 125px;
  font-size: 1.5vw;
}
.edit:hover, .btn:hover{
  background-color: #f8e16c;
  color: #fb8f67;
}
.edit{
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
}
.task{

  padding: 40px 20px 40px 100px;
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}
li{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #ffc2b4;
}
.card-header, .card-footer, .card-body{
  border: none;
  display: flex;
}
.card-footer{
  justify-content: space-between;
  align-items: center;
}
.card-header{
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../assets/images/task.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  text-align: right;
}
.card-body{
  justify-content: center;
  align-items: flex-start;
}
.headings{
  background-color: #00c49a;
  color: #f8e16c;
  padding: 10px;
}
.modal-header, .modal-footer{
  background-color: #ffc2b4;
}
.modal-body{
  background-color: #fb8f67;
}
.modal-title{background-color: transparent;}
