<div class="container-fluid" *ngIf="group">
  <div class="title" >
    <h2>
      <span class="display-5">{{group.name}} -</span> {{group.description}}
      <button type="button" class="edit" data-toggle="modal" data-target="#editList"><img src="assets/images/pencil.png" style="width:27px;"></button>
    </h2>
    <button type="button" class="btn rounded-pill" data-toggle="modal" data-target="#addTask">
      Add Task
    </button>
  </div>
  <br>
  <div class="row">
    <img src="assets/images/dandylions.png" class="col-1 left">
    <div class="col-md-3 shadow">
      <div id="low">
        <h4 class="shadow"> Maybe, if I have time ...</h4>
        <ul>
          <li *ngFor="let task of priority1">
            <h5 class="task">{{task.title}}</h5>
            <div class="info">
              <h6>{{task.dueDate}}</h6>
              <h6>{{task.consequence}} <button type="button" class="edit" data-toggle="modal" data-target="#editList"><img src="assets/images/pencil.png" style="width:27px;"></button></h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 shadow">
      <div id="med">
        <h4  class="shadow"> More for pleasure than necessity ...</h4>
        <ul>
          <li *ngFor="let task of priority2">
            <h5 class="task">{{task.title}}</h5>
            <div class="info">
              <h6>{{task.dueDate}}</h6>
              <h6>{{task.consequence}}</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 shadow">
      <div id="high">
        <h4 class="shadow"> I should do this sooner rather than later ...</h4>
        <ul>
          <li *ngFor="let task of priority3">
            <h5 class="task">{{task.title}}</h5>
            <div class="info">
              <h6>{{task.dueDate}}</h6>
              <h6>{{task.consequence}}</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <img src="assets/images/dandylions.png" class="col-1">
  </div>
<!--  <ul>-->
<!--    <li *ngFor="let task of group.taskList">-->
<!--      {{task.name}}-->
<!--      <button (click)="deleteTask(task)">delete</button>-->
<!--    </li>-->
<!--  </ul>-->
  <div class="modal fade" id="addTask">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create new task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Name: </label>
              <input [(ngModel)]="taskName" name="taskName" type="text" placeholder="Enter name" id="title" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="consequence">Consequence: </label>
              <input [(ngModel)]="consequence" name="consequence" type="text" placeholder="Enter consequence" id="consequence" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="date">Due Date: </label>
              <input [(ngModel)]="dueDate" name="dueDate" type="text" placeholder="Enter date" id="date" class="form-control"/>
            </div>
            <label>Priority</label>
            <div class="form-check">
              <label class="form-check-label" for="radio1">
                <input [(ngModel)]="priority" type="radio" class="form-check-input" id="radio1" name="optradio" value=1 checked>Maybe if I have time ...
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="radio2">
                <input [(ngModel)]="priority" type="radio" class="form-check-input" id="radio2" name="optradio" value=2>More for pleasure than necessity ...
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="radio3">
                <input [(ngModel)]="priority" type="radio" class="form-check-input" id="radio3" name="optradio" value=3>I should do this sooner rather than later ...
              </label>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createTask()">Create</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="editList">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit List</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">List: </label>
              <input [(ngModel)]="groupName" id="name" name="groupName" type="text" placeholder="{{group.name}}" class="form-control" />
            </div>
            <div class="form-group">
              <label for="description">Description: </label>
              <input [(ngModel)]="groupDescription" id="description" name="groupDescription" type="text" placeholder="{{group.description}}" class="form-control"/>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-secondary" (click)="deleteGroup()" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editGroup()">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>
