<div class="container-fluid">
  <div class="bg-image card align-items-center">
    <div class="card-body">
      <h3 class="card-title">Login</h3>
      <form class="form-group card-text">
        <label for="exampleInputUsername1">Email Address</label>
        <input [(ngModel)]="email" type="text" name="email" placeholder="Email Address" class="form-control" id="exampleInputUsername1"/>
        <label for="exampleInputPassword1">Password</label>
        <input [(ngModel)]="password" type="text" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1" />
        <input class="rounded-pill" (click)="loginUser()" type="submit" value="Login"/>
      </form>
    </div>
  </div>
</div>
