<!--<nav class="navbar">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" alt="logo: world whelmed with a tiny pink heart"></a>-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li class="active"><a routerLink="/" class="rounded-pill right">Home</a></li>-->
<!--      <li><a routerLink="/about" class="rounded-pill right">About</a></li>-->
<!--    </ul>-->
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--      <span *ngIf="!this.currentUser">-->
<!--        <li><a routerLink="/signup" class="rounded-pill">Sign Up</a></li>-->
<!--        <li><a routerLink="/login" class="rounded-pill">Log In</a></li>-->
<!--      </span>-->
<!--      <span *ngIf="this.currentUser">-->
<!--          <li><a routerLink="/lists" class="rounded-pill">All Lists</a></li>-->
<!--          <li><a routerLink="/logout" class="rounded-pill">Log Out</a></li>-->
<!--          <li id="name"><b>Hello, {{this.currentUser}}</b></li>-->
<!--      </span>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" routerLink="/" style="margin-left: 16px;">
    <img src="../assets/images/logo.png" alt="logo: world whelmed with a tiny pink heart" style="width:200px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <img src="../assets/images/flowericon.png" alt="a little pink flower" style="width:40px;">
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav" style="width:100%;">
      <span>
        <li class="nav-item">
          <a routerLink="/" class="nav-link rounded-pill">Home</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/about" class="nav-link rounded-pill">About</a>
        </li>
      </span>
      <span>
        <li class="nav-item" *ngIf="!this.currentUser">
          <a routerLink="/signup" class="nav-link rounded-pill">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="!this.currentUser">
          <a routerLink="/login" class="nav-link rounded-pill">Log In</a>
        </li>
        <li class="nav-item" *ngIf="this.currentUser">
          <a routerLink="/lists" class="nav-link rounded-pill">All Lists</a>
        </li>
        <li class="nav-item" *ngIf="this.currentUser">
          <a routerLink="/logout" class="nav-link rounded-pill">Log Out</a>
        </li>
        <li id="name" *ngIf="this.currentUser">
          <b>Hello, {{this.currentUser}}</b>
        </li>
      </span>
    </ul>
  </div>
</nav>
<div class="container-fluid h-100">
  <router-outlet></router-outlet>
</div>
