.navbar{
  background-color: #f8e16c;
  font-size: larger;
}
img{
  width: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: #fb8f67;
  color: floralwhite;
}
.navbar-brand:hover{
  background-color: transparent;
}
#name{
  color: #fb8f67;
}
.container{
  height: 100%;
}
@media (min-width: 768px){
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  span{
    display: inline-flex;
  }
}
