<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/login"><img src="assets/logo.png" alt="logo: world whelmed with a tiny pink heart"></a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <span *ngIf="!this.currentUser">
          <li><a routerLink="/signup">Sign Up</a></li>
          <li><a routerLink="/login">Log In</a></li>
        </span>
        <span *ngIf="this.currentUser">
          <li><a routerLink="/lists">All Lists</a></li>
          <li><a routerLink="/logout">Log Out</a></li>
          <li><p class="navbar-text">Hello, {{this.currentUser}}</p></li>
        </span>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
