<nav class="navbar navbar-default navbar-fixed-top shadow-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" alt="logo: world whelmed with a tiny pink heart"></a>
      <a routerLink="/" class="rounded-pill">Home</a>
      <a routerLink="/about" class="rounded-pill">About</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <span *ngIf="!this.currentUser">
          <li><a routerLink="/signup" class="rounded-pill">Sign Up</a></li>
          <li><a routerLink="/login" class="rounded-pill">Log In</a></li>
        </span>
        <span *ngIf="this.currentUser">
          <li><a routerLink="/lists" class="rounded-pill">All Lists</a></li>
          <li><a routerLink="/logout" class="rounded-pill">Log Out</a></li>
          <li id="name"><b>Hello, {{this.currentUser}}</b></li>
        </span>
      </ul>

  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
