.col-5{
  background-image: url("../../assets/clipboard.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
}
form{
  font-size: 1.5vw;
  /*padding: 150px 70px 70px 50px;*/

}
.rounded-pill{
  background-color: #fb8f67;
  border: 0;
  margin-top: 10px;
  padding:10px;
}
.rounded-pill:hover{
  background-color: #f8e16c;
  color: #fb8f67;
}
.container{
  height: 100%;
}
