.col-5{
  width: 35vw;
  height: 35vw;
  background-image: url("src/assets/images/clipboard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}
form{
  height: 50%;
  width: 50%;
  margin-bottom: 50px;
}
.rounded-pill{
  background-color: #fb8f67;
  border: 0;
  margin-top: 10px;
  padding:10px;
}
.rounded-pill:hover{
  background-color: #f8e16c;
  color: #fb8f67;
}
.container-fluid{
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3vw;
  margin-top: 100px;
  background-image: url("../../assets/images/picture.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
}
