a{
  padding:10px;
  background-color: #f8e16c;
  color: inherit;
  text-decoration: none;
  font-size: 1.5vw;
}
a:hover{
  background-color: #fb8f67;
  color: #f8e16c;
}
.bg-image{
  width: 40vw;
  height: 40vw;
  padding: 10px;
  background-image: url("src/assets/images/home.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
.container-fluid{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
