<div class="container-fluid">
  <div class="bg-image card align-items-center">
    <div class="card-body col-10">
      <h5 class="card-title ">Welcome to Whelmed :)</h5>
      <p class="card-text">
        We provide <em>you</em> with a stress free way to organize your tasks.
        Sometimes life may feel overwhelming.
        Our web-app will provide you with a free way to think through all the items on your to-do list and prioritize them accordingly.
      </p>
      <a routerLink="/signup" class="rounded-pill">Get Started!</a>
    </div>
  </div>
</div>
